---
# vim
vim_packages:
  fedora:
    - vim-X11
    - vim-enhanced
  ubuntu:
    - vim-gnome

vim_plugins_github:
  #- faith/vim-go   keeps asking for github password
  #- gmarik/Vundle.vim
  - godlygeek/tabular
  - itchyny/lightline.vim
  - kien/ctrlp.vim
  - rking/ag.vim
  - tpope/vim-fugitive
  - vim-scripts/Tagbar

vim_colorschemes:
  - https://raw.githubusercontent.com/altercation/vim-colors-solarized/master/colors/solarized.vim
  - https://raw.githubusercontent.com/nielsmadan/harlequin/master/colors/harlequin.vim

# bash
bash_histsize: 500
bash_histsizefile: 5000

# utils
tmux_conf:
  history_limit: 30000
  has_xsel: true
  has_firefox: true
dotfiles:
  - bashrc
  - gitconfig
  - tmux.conf
  - xinitrc

# keyboard:
xkb_symbols_file: /usr/share/X11/xkb/symbols/us
gnome_shell_input_sources: "[('xkb', 'us+dvorak')]"
