[Unit]
Description=Backup git repositories

[Service]
Type=simple
ExecStart={{ gitserver_backup_dir}}/backup.sh
User={{ gitserver_user }}
Group={{ gitserver_group }}
