---
- name: install git
  tags: gitserver
  pacman: name=git state=latest  # TODO: other packet managers
  become: yes

- name: create git group
  tags: gitserver
  group: name={{ gitserver_group }} system=yes
  become: yes

- name: create git user
  tags: gitserver
  user:
    name: "{{ gitserver_user }}"
    group: "{{ gitserver_group }}"
    system: yes
    generate_ssh_key: yes
    home: "{{ gitserver_home }}"
  become: yes

- name: gitconfig
  tags: gitserver
  template:
    src: gitconfig
    dest: "{{ gitserver_home }}/.gitconfig"
  become: yes
  become_method: ksu
  become_user: git

- name: touch authorized_keys
  tags: gitserver
  file:
    name: "{{ gitserver_home }}/.ssh/authorized_keys"
    mode: 0600
    state: touch
  become: yes
  become_user: git
  become_method: ksu
  changed_when: false

# git init one or more bare repos on the server
- name: init repos
  tags: gitserver
  command: git -C /var/git init --bare {{ item }}
  become: yes
  become_method: ksu
  become_user: git
  when: init_repos is defined
  with_items: init_repos.split(',')

- name: create backup directory
  tags: gitserver
  file:
    path: "{{ gitserver_backup_dir }}"
    state: directory
    owner: "{{ gitserver_user }}"
    group: "{{ gitserver_group }}"
  become: yes

- name: backup script
  tags: gitserver
  template:
    src: backup.sh
    dest: "{{ gitserver_backup_dir }}/backup.sh"
    mode: 0755
  become: yes
  become_method: ksu
  become_user: git

- name: systemd service
  tags: gitserver
  template:
    src: backup.systemd.service
    dest: /etc/systemd/system/git-backup.service
  become: yes
  register: systemd_service

- name: systemd timer
  tags: gitserver
  template:
    src: backup.systemd.timer
    dest: /etc/systemd/system/git-backup.timer
  become: yes
  register: systemd_timer

- name: enable and start timer
  tags: gitserver
  # started will have to do, restarted doesn't do daemon-reload anyway
  service: name=git-backup.timer state=started enabled=yes
  become: yes
