---
- file: path=~/dotfiles state=directory mode=0755
  tags: utils

- name: render dotfile templates
  tags: [utils]
  template: src="templates/{{item}}" dest="~/dotfiles/{{item}}"
  with_items: dotfiles

- name: list links in ~
  changed_when: false
  tags: [utils]
  command: find -maxdepth 1 -type l -print
  register: dotlinks

  # ansible refuses to overwrite file with link, maybe there's a -f option
- name: remove non links
  tags: [utils]
  file: dest=~/.{{item}} state=absent
  when: item not in dotlinks.stdout
  with_items: dotfiles

- name: link files to ~
  file: src=~/dotfiles/{{item}} dest=~/.{{item}} state=link
  tags: [utils]
  with_items: dotfiles

# util
- name: install utility packages
  tags: util
  dnf: name={{item}} state=latest
  become: yes
  with_items:
    - ansible
    - docker
    - htop
    - mc
    - nmap
    - npm
    - pwsafe
    - tmux
