---
- file: path=~/dotfiles/vim/bundle state=directory mode=0755
  tags: vim
- file: path=~/dotfiles/vim/tmp state=directory mode=0755
  tags: vim
- file: src=~/dotfiles/vim dest=~/.vim state=link
  tags: vim

- name: install fedora vim packages
  tags: vim
  dnf: name={{item}} state=latest
  become: yes
  with_items: vim_packages.fedora
  when: ansible_distribution == "Fedora"

- name: install ubuntu vim packages
  tags: vim
  apt: name={{item}} state=latest
  become: yes
  with_items: vim_packages.ubuntu
  when: ansible_distribution == "Ubuntu"

- name: vimrc
  tags:
    - vim
    - vimrc
  template: src="templates/vimrc" dest="~/dotfiles/vim/vimrc"

- name: gvimrc
  tags: vim
  template: src="templates/gvimrc" dest="~/dotfiles/vim/gvimrc"

- name: update ycm
  git: repo="https://github.com/Valloric/YouCompleteMe.git"
       dest="~/dotfiles/vim/bundle/YouCompleteMe"
  tags: vim
  register: ycm_update
  when: "'Valloric/YouCompleteMe' in vim_plugins"

- name: update vundle
  git: repo="https://github.com/gmarik/Vundle.vim.git"
       dest="~/dotfiles/vim/bundle/Vundle.vim"
  tags: vim
  when: "'gmarik/Vundle.vim' in vim_plugins"

- name: update plugins
  git: repo="https://github.com/{{item}}.git"
       dest="~/dotfiles/vim/bundle/{{item.split('/')[1]}}"
  tags: vim
  with_items: "{{vim_plugins|difference('Valloric/YouCompleteMe')}}"
  when: "'gmarik/Vundle.vim' not in vim_plugins"
  # TODO: Why is emmet always "changed"?

- name: Vundle PluginUpdate
  tags: vim
  command: vim -R --cmd "set nocp" +PluginUpdate +qa
  when: "'gmarik/Vundle.vim' in vim_plugins"

- name: install fedora ycm build dependencies
  tags: vim
  dnf: name={{item}} state=latest
  become: yes
  with_items:
    - cmake
    - gcc
    - gcc-c++
    - python-devel
  when: ansible_distribution == "Fedora"
        and 'Valloric/YouCompleteMe' in vim_plugins
        and ycm_update.changed

- name: install ubuntu ycm build dependencies
  tags: vim
  apt: name={{item}} state=latest
  become: yes
  with_items:
    - cmake
    - gcc
    - python-dev
  when: ansible_distribution == "Ubuntu"
        and 'Valloric/YouCompleteMe' in vim_plugins
        and ycm_update.changed

- name: compile YouCompleteMe
  tags: vim
  command: "./install.sh"  #yolo, this is all highly insucure anyway
  args:
    chdir: "~/dotfiles/vim/bundle/YouCompleteMe"
  when: ycm_update.changed and 'Valloric/YouCompleteMe' in vim_plugins
