---
ansible_ssh_host: 192.168.84.13
ansible_python_interpreter: /usr/bin/python2
internal_ip: 192.168.84.13
dns_block_ads: yes
vim_plugins_github:
  - godlygeek/tabular
  - itchyny/lightline.vim
  - kien/ctrlp.vim
  - rking/ag.vim
  - scrooloose/nerdcommenter
  - tpope/vim-fugitive
  - tpope/vim-surround
  - vim-scripts/Tagbar
gnome_shell: false
