---
ansible_host: 192.168.84.13
dns_block_ads: yes
vim_plugins_github:
  - godlygeek/tabular
  - itchyny/lightline.vim
  - rking/ag.vim
  - scrooloose/nerdcommenter
  - tpope/vim-fugitive
  - tpope/vim-surround
  - vim-scripts/Tagbar
gnome_shell: false
systemd_networkd_match:
  name: enp0s3
systemd_networkd_addresses:
  - carbon
systemd_networkd_ips:
  - 192.168.123.123  # TODO: Is this used?
mount_nfs_mounts:
  - device: iridium.alkali:/c/media
    dir: /mnt/iridium_media
    options:
      vers: vers=3
  - device: iridium.alkali:/c/archive
    dir: /mnt/iridium_archive
    options:
      vers: vers=3
